body {
    background-color: rgb(69, 160, 61);
}

.center-text {
    text-align: center;    
    font-family: 'Ubuntu', sans-serif;    
}

h1 {
    font-size: 75px;
}

p {
    font-size: 30px;
}

h2 {
    margin-right: 20px;
}

#score {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#choices { 
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.enlarge {
    transform: scale(1.2);
}

.pic {    
    width: 250px;
    height: auto;
    padding: 70px;    
}

#message-div {
    display: block;
    margin: 0 auto;
    width: 1000px;       
    font-size: 30px;
    border: 3px solid green;    
}

@media only screen and (max-width: 1050px) {
    
    .pic {
        padding: 0px;
    }

    #message-div {
        width: 700px;       
    /* font-size: 20px; */
    }

  }

  @media only screen and (max-width: 750px) {
   
    .pic {
        width: 170px;
        padding: 0px;
    }

    #message-div {
        width: 500px;    
    }

  }

  @media only screen and (max-width: 520px) {  
    
    .pic {
        width: 100px;
        padding: 0px;
    }

    #message-div {
        width: 300px;  
    }
  }